{% extends "global/base.html" %}
{% block base_content %}
<div id="main-content-container" sidebar-collapse="true">
    <div id="header-menu">
        {% include "global/partials/header.html" %}
    </div>
    <div id="sidebar">
        {% include "global/partials/sidebar.html" %}
    </div>
    <div id="content">
    {% block content %}
    {% endblock content %}
    {% include "global/partials/pagination.html" %}
    </div>
</div>
{% endblock base_content %}
{% block base_script %}
    document.getElementById('toggle-bar').addEventListener('click', function(ev) {
        content = document.getElementById('main-content-container')
        is_collapsed = Boolean(content.getAttribute('sidebar-collapse').toString().toLowerCase() === 'true')
        content.setAttribute('sidebar-collapse', !is_collapsed);
    });
    {% block script %}
    {% endblock script %}
{% endblock base_script %}