<div class="main-menu-container">
    <div class="search-task">
        <form id="search-task-form" action="" method="GET">
            <div class="search-container">
                <input class="search-container-input" type="text" name="q" placeholder="Search a task"/>
                <i class="fa-solid fa-magnifying-glass search-container-icon"></i>
            </div>
        </form>
    </div>
    <div class="user-management-options">
        <a href="#" class="user-link" aria-label="Menu de usuário">
            <i class="fa-solid fa-user user-link-icon"></i>
        </a>
    </div>
</div>