@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

:root {
    --color-bg-light: #fefe;
    --color-bar-dark: #212529;
    --color-dark: #2f2f2f;
    --color-primary-dark: #3d4348;
    --color-hover-side-link: #ebdfdf;
    --color-dark-red: #af4646;
    --color-red: #da4d41;
    --color-primary-blue: #6d71d6;
    --color-primary-green: #62b668;
    --color-white: #fff;
    
    --color-bg-success: #d1e7dd;
    --color-bg-alert: #fff3cd;
    --color-bg-primary: #cfe2ff;
    --color-txt-success: #0a3622;
    --color-txt-alert: #664d03;
    --color-txt-primary: #052c65;
    --color-border-success: #a3cfbb;
    --color-border-alert: #ffe69c;
    --color-border-primary: #9ec5fe;
    
    --padding-sm: 5px;
    --padding-md: 15px;
    --padding-lg: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-bg-light);
}

.fa-solid {
    font-size: 20px;
}

#header-menu {
    padding: var(--padding-md);
    background-color: var(--color-bar-dark);
    grid-column: span 2;
}

#main-content-container {
    position: absolute;
    display: grid;
    grid-template-columns: 240px auto;
    grid-template-rows: 71px auto;
    width: 100%;
    transition: all .2s ease-out;
}

#main-content-container[sidebar-collapse="true"] {
    grid-template-columns: 82px auto;
    transition: all .2s ease-out;
}

.main-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-task {
    max-width: 450px;
}

.user-interaction {
    display: flex;
    flex-direction: row;
    gap: var(--padding-lg);
    align-items: center;
}

#toggle-bar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    width: 24px;
    height: 19px;
}

.toggle-bar-icon {
    fill: var(--color-white);
    transition: all .2s ease-out;
}

#main-content-container[sidebar-collapse="false"] #toggle-bar > .toggle-bar-st {
    transform: rotate(45deg) translate(6px, 6px);
    transition: all .1s ease-out;
}

#main-content-container[sidebar-collapse="false"] #toggle-bar > .toggle-bar-nd {
    display: none;
    transition: all .2s linear;
}

#main-content-container[sidebar-collapse="false"] #toggle-bar > .toggle-bar-th {
    transform: rotate(-45deg);
    transition: all .2s ease-out;
}

.search-container {
    position: relative;
    width: 100%;
    font-size: 18px;
}

.search-container-input {
    width: 100%;
    background: none;
    padding: calc(var(--padding-sm) + 2px) calc(var(--padding-sm) + 2px) calc(var(--padding-sm) + 2px) 35px;
    border-radius: 10px;
    border: 2px solid var(--color-white);
    outline: none;
    font-size: 18px;
    color: var(--color-white);
}

.search-container-input::placeholder {
    color: var(--color-primary-dark);
    opacity: 1;
}


.search-container-icon {
    color: var(--color-white);
    position: absolute;
    font-size: 20px;
    left: 10px;
    top: 10px;
}

.content-container {
    padding-top: var(--padding-md);
}

.main-content {
    padding: var(--padding-lg) var(--padding-md) var(--padding-md) var(--padding-md);
}

.container-info {
    background-color: var(--color-bg-primary);
    color: var(--color-txt-primary);
    border: 1px solid var(--color-border-primary);
    border-radius: 3px;
}

.container-info h3 {
    font-weight: lighter;
}

.table-task-container-list {
    display: grid;
    gap: var(--padding-md);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.table-task-row {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: var(--padding-sm);
    align-items: center;
    padding: var(--padding-md);
}

.table-task-container-list .table-task-row.task-completed {
    background-color: var(--color-bg-success);
    color: var(--color-txt-success);
    border: 1px solid var(--color-border-success);
    border-radius: 3px;
}

.table-task-container-list .table-task-row.task-pending {
    background-color: var(--color-bg-alert);
    color: var(--color-txt-alert);
    border: 1px solid var(--color-border-alert);
    border-radius: 3px;
}

.task-item-container {
    max-width: 60%;
}

.task-item-status-txt {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    right: 10px;
    top: 10px;
}

.task-item-name,
.task-item-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task-item-name {
    font-size: 13px;
    font-weight: bold;
}

.task-item-desc {
    font-size: 20px;
}

.task-item-status-icon {
    margin-right: var(--padding-md);
}

.task-item-status-icon.task-completed, .task-item-status-icon.task-pending {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.task-item-status-icon.task-pending {
    background-color: #a2aaaf;
    border: 2px solid #8a8f93;
}

#sidebar {
    margin: var(--padding-md) var(--padding-md);
    overflow: hidden;
    white-space: nowrap;
}

.main-sidebar-container {
    display: flex;
    flex-direction: column;
    padding: var(--padding-sm) 0;
    background-color: var(--color-bar-dark);
    border-radius: 3px;
}

.main-sidebar-container a {
    color: var(--color-white);
    position: relative;
    display: flex;
    padding-left: var(--padding-md);
    align-items: center;
    gap: var(--padding-lg);
    height: 56px;
    transition: all .2s ease-in;
}

.sidebar-link {
    font-weight: lighter;
}

.main-sidebar-container a:hover {
    padding-left: calc(var(--padding-md) + 10px);
    background-color: var(--color-primary-dark);
    transition: all .2s ease-in;
}


/* Generic */

.d-block {
    display: block;
}

.text-center {
    text-align: center;
}

.icon-blue {
    color: var(--color-primary-blue);
}

.icon-green {
    color: var(--color-primary-green);
}

@media (max-width: 768px) {
    #toggle-bar {
        display: none;
    }

    #sidebar {
        grid-column: span 2;
        width: fit-content;
        margin: var(--padding-md) auto;
    }

    #sidebar .main-sidebar-container {
        flex-direction: row;
        padding: 0 var(--padding-sm);
    }

    #sidebar .main-sidebar-container a {
        width: 56px;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }

    .main-sidebar-container a:hover {
        padding-top: var(--padding-md);
    }

    #sidebar .main-sidebar-container .sidebar-link {
        display: none;
    }

    #content {
        grid-column: span 2;
    }
}