@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
    --color-bg-light: #f1ece6;
    --color-bg-white: #ffffff;

    --color-primary-light: #76b7cd;
    --color-primary-light-hover: #60a2b7;

    --color-warning: #d98326;
    --color-success: #70b790;
    --color-success-hover: #529470;
    --color-danger: #e96c6c;

    --color-text-finished: #c5c5c4;
    --color-text-dark: #000;

    --spacing-lg: 50px;
    --spacing-md: 25px;
    --spacing-sm: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg-white);
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 500;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-md);
}

#task-add-container {
    position: relative;
    margin-top: calc(var(--spacing-lg) * 1.5);
    background-color: var(--color-bg-light);
    border-radius: var(--spacing-lg);
    padding: var(--spacing-sm);
    width: 50%;
    overflow: hidden;

}

#task-list-container {
    display: flex;
    flex-flow: column;
    margin-top: var(--spacing-lg);
    background-color: var(--color-bg-light);
    padding: calc(var(--spacing-sm) * 3);
    border-radius: calc(var(--spacing-sm) * 3);
    width: 50%;
}

#pagination {
    display: grid;
    width: 50%;
    padding: calc(var(--spacing-sm) * 3);
}

.errorlist {
    list-style: none;
    font-size: 16px;
    padding: var(--spacing-sm);
    color: #e96c6c;
}

.task-add-input {
    background: none;
    border: none;
    outline: none;
    padding: var(--spacing-sm) calc(var(--spacing-sm) * 15) var(--spacing-sm) calc(var(--spacing-sm) * 3);
    width: 100%;
    font-size: 18px;
}

.task-add-button {
    position: absolute;
    top: -4px;
    right: 0px;
    cursor: pointer;
    border: none;
    background-color: var(--color-primary-light);
    height: 50px;
    width: 75px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    color: var(--color-bg-white);
    transition: all .2s ease-in-out;
}

.task-add-button:hover {
    background-color: var(--color-primary-light-hover);
    transition: all .2s ease-in-out;
}

.task-list-display {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-sm) * 2);
    margin-bottom: calc(var(--spacing-sm) * 2);
}

.task-list-item-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    font-size: 18px;
    padding: var(--spacing-sm);
}

.task-list-item-container .task-toggler-form,
.task-list-item-container .task-delete-form {
    display: grid;
}

.task-list-item-container .task-toggler {
    cursor: pointer;
    width: 29px;
    height: 27px;
    padding-top: 2px;
    border-radius: 50%;
    border: 2px solid var(--color-warning);
    font-size: 18px;
    color: var(--color-warning);
}

.task-list-item-container .task-toggler .fa-solid {
    vertical-align: text-bottom;
}

.task-list-item-container.finished .task-toggler {
    border-color: var(--color-success);
    color: var(--color-success);
}

.task-list-item-container .task-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid var(--color-primary-light);
    width: 100%;
    padding: var(--spacing-sm) var(--spacing-lg) var(--spacing-sm) var(--spacing-sm);
}

.task-list-item-container.finished .task-name {
    text-decoration: line-through;
    color: var(--color-text-finished);
}

.task-list-item-container .task-delete-form {
    position: absolute;
    display: grid;
    top: calc(var(--spacing-sm) * 2);
    right: calc(var(--spacing-sm) * 3);
}

.task-list-item-container .task-delete {
    display: block;
    cursor: pointer;
    border: none;
    font-size: 20px;
    color: #e96c6c;
}

.task-actions {
    align-self: flex-end;
}

.pagination-container {
    justify-self: flex-end;
    display: flex;
    gap: calc(var(--spacing-sm) * 2);
}

.pagination-item {
    text-decoration: none;
    color: var(--color-text-dark);
    padding: var(--spacing-sm) calc(var(--spacing-sm) * 2);
    background-color: var(--color-bg-light);
    border-radius: var(--spacing-lg);
    transition: all .1s ease-in-out;
}

.pagination-item:hover {
    background-color: var(--color-text-finished);
    transition: all .1s ease-in-out;
}

.pagination-item.item-active:hover {
    background-color: var(--color-primary-light);
}

.pagination-item.item-active {
    background-color: var(--color-primary-light);
    color: var(--color-bg-white);
}

#front-container {
    position: absolute;
    width: 100%;
    display: flex;
    padding: var(--spacing-lg) var(--spacing-md) var(--spacing-md) var(--spacing-md);
    align-items: center;
    justify-content: center;
}

.box-container {
    width: 30%;
    height: fit-content;
    min-width: 260px;
    padding: var(--spacing-md);
    background-color: var(--color-bg-light);
    border-radius: calc(var(--spacing-sm) * 3);
}

.box {
    position: relative
}

.box-header {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-text-finished);
    margin-bottom: var(--spacing-md);
    padding-bottom: calc(var(--spacing-sm) * 2)
}

.link-return {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--color-primary-light);
    padding: var(--spacing-sm) calc(var(--spacing-sm) * 2);
    border-radius: 50%;
    transition: all .1s ease-out;
}

.link-return:hover {
    background-color: var(--color-primary-light-hover);
    transition: all .1s ease-out;
}

.link-return .fa-solid {
    color: var(--color-bg-white);
    font-size: 18px;
    vertical-align: text-bottom;
}

.form-control {
    width: 100%;
    display: grid;
    gap: calc(var(--spacing-sm) * 3);
}

.form-input .form-input-control {
    width: 100%;
    border-radius: var(--spacing-lg);
    border: none;
    font-size: 18px;
    padding: var(--spacing-sm) calc(var(--spacing-sm)*2);
    outline: none;
    transition: all .1s ease-out;
}

.form-control .form-input .form-input-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
    transition: all .3s ease-out;
}

.form-control .form-input label {
    display: block;
    margin-bottom: var(--spacing-sm);
}

.password-to-reveal {
    position: relative;
    border-radius: var(--spacing-lg);
    width: 100%;
    background-color: var(--color-bg-white);
}

.password-to-reveal .form-input-control {
    padding-right: calc(var(--spacing-lg) + 5px);
}

.reveal-password {
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 100%;
    padding: 7px 0px 0px 13px;
    background-color: var(--color-primary-light);
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    transition: all .2s ease-out;
}

.reveal-password:hover {
    background-color: var(--color-primary-light-hover);
    transition: all .2s ease-out;
}

.reveal-password .fa-solid {
    font-size: 18px;
    color: var(--color-bg-white);
}

.form-block {
    margin-top: var(--spacing-sm);
}

.sep {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    margin: calc(var(--spacing-sm) * 2) 0;
}

.sep .sep-line {
    fill: var(--color-text-finished);
}

.field-help-text {
   padding: var(--spacing-sm) var(--spacing-sm) 0 var(--spacing-sm);
   font-size: 14px;
}

.task-empty-container {
    text-align: center;
}

/* Generic */
.btn {
    cursor: pointer;
    border-radius: var(--spacing-lg);
    border: 1px solid black;
    padding: var(--spacing-sm);
    font-size: 14px;
    transition: all .1s ease-in-out;
}

.btn-block,
.btn-block-link {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: var(--spacing-sm);
    border-radius: var(--spacing-sm);
    border: 1px solid black;
    font-size: 16px;
    transition: all .1s ease-in-out;
}

.btn-block-link {
    text-align: center;
    text-decoration: none;
}

.btn:hover,
.btn-block:hover,
.btn-block-link:hover {
    transition: all .1s ease-in-out;
}

.btn-primary {
    background-color: var(--color-primary-light);
    color: var(--color-bg-white);
    border-color: var(--color-primary-light);
}

.btn-primary:hover {
    background-color: var(--color-primary-light-hover);
    border-color: var(--color-primary-light-hover);
}

.btn-success {
    background-color: var(--color-success);
    color: var(--color-bg-white);
    border-color: var(--color-success);
}

.btn-success:hover {
    background-color: var(--color-success-hover);
    border-color: var(--color-success-hover);
}

@media (max-width: 900px) {
    #task-add-container {
        width: 100%;
    }
    #task-list-container {
        width: 100%;
    }
    #pagination {
        width: 100%;
    }
}

@media (max-width: 520px) {
    .box-container {
        width: 80%;
    }
}