<div class="main-menu-container">
    <div class="user-interaction">
        <div id="toggle-bar">
            <svg width="24px" height="3px" class="toggle-bar-icon toggle-bar-st"><rect width="24px" height="2px"/></svg>
            <svg width="24px" height="3px" class="toggle-bar-icon toggle-bar-nd"><rect width="24px" height="2px"/></svg>
            <svg width="24px" height="3px" class="toggle-bar-icon toggle-bar-th"><rect width="24px" height="2px"/></svg>
        </div>
        <div class="search-task">
            <form id="search-task-form" action="{% url "todoapp:home" %}" method="GET">
                <div class="search-container">
                    <input class="search-container-input" type="search" name="q" placeholder="Search a task" required {% if search_term %}value="{{search_term}}"{% endif %}/>
                    <i class="fa-solid fa-magnifying-glass search-container-icon"></i>
                </div>
                <input class="search-task-button" type="submit" value="Search">
            </form>
        </div>
    </div>
</div>