{% if page.has_other_pages %}
<div id="pagination">
    <div class="pagination-container">
        {% if page.has_previous %}
        <a href="?page={{page.previous_page_number}}{{additional_query}}" class="pagination-item"><i class="fa-solid fa-chevron-left"></i></a>
        {% endif %}
        {% for page in page_range.pagination %}
            {% if page == page_range.current_page %}
                <div class="pagination-item item-active">{{page}}</div>
            {% else %}
                <a href="?page={{page}}{{additional_query}}" class="pagination-item">{{page}}</a>
            {% endif %}
        {% endfor %}
        {% if page.has_next %}
            <a href="?page={{page.next_page_number}}{{additional_query}}" class="pagination-item"><i class="fa-solid fa-chevron-right"></i></a>
        {% endif %}
    </div>
</div>
{% endif %}