<div class="main-sidebar-container">
    {% if user.is_authenticated %}
    <a href="{% url "todoapp:home" %}">
        <i class="fa-solid fa-list-ol"></i>
        <h3 class="sidebar-link">My tasks</h3>
    </a>
    <a href="{% url "todoapp:task_create" %}">
        <i class="fa-solid fa-plus"></i>
        <h3 class="sidebar-link">New task</h3>
    </a>
    <form action="{% url "todoapp:logout" %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="user" value="{{user}}">
        <button class="btn-link">
            <i class="fa-solid fa-right-from-bracket"></i>
            <h3 class="sidebar-link">Logout</h3>
        </button>
    </form>
    {% else %}
    <a href="{% url "todoapp:login" %}">
        <i class="fa-solid fa-list-ol"></i>
        <h3 class="sidebar-link">Login</h3>
    </a>
    <a href="{% url "todoapp:register" %}">
        <i class="fa-solid fa-plus"></i>
        <h3 class="sidebar-link">Register</h3>
    </a>
    {% endif %}
</div>