{% for field in form %}
    {% if field.field.widget.input_type == "password" %}
    <div class="form-input">
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        <div class="password-to-reveal">
            {{field}}
            <div class="reveal-password-box">
                <div class="reveal-password">
                    <i class="fa-solid fa-eye"></i>
                </div>
            </div>
        </div>
        {{field.errors}}
        {% if field.help_text %}
        <div class="field-help-text">
            <p>{{field.help_text}}</p>
        </div>
        {% endif %}
    </div>
    {% else %}
    <div class="form-input">
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        {{field}}
        {{field.errors}}
        {% if field.help_text %}
        <div class="field-help-text">
            <p>{{field.help_text}}</p>
        </div>
        {% endif %}
    </div>
    {% endif %}
{% endfor %}