<!DOCTYPE html>
<html lang="pt-br">
<head>
{% include "global/partials/head.html" %}
<title>{% block title %}{% endblock title %} | ToDo - App</title>
</head>
<body>
    <div id="main-content-container" sidebar-collapse="true">
        <div id="header-menu">
            {% include "global/partials/header.html" %}
        </div>
        <div id="sidebar">
            {% include "global/partials/sidebar.html" %}
        </div>
        <div id="content">
        {% block content %}
        {% endblock content %}
        </div>
    </div>
    {% load static %}
    <script src="{% static "global/js/default.js" %}"></script>
</body>
</html>