{% extends "global/base_home.html" %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
    <div class="main-content">
        <div class="content-container">
            <h3>Your tasks</h3>
        </div>
        <div class="content-container table-task-container-list">
            {% for task in page %}
                <a href="#" class="table-task-row {% if task.is_completed %}task-completed{% else %}task-pending{% endif %}">
                    <div class="task-item-status-icon">
                        {% if task.is_completed %}
                            <i class="fa-solid fa-check"></i>
                        {% else %}
                            <i class="fa-solid fa-clock"></i>
                        {% endif %}
                    </div>
                    <div class="task-item-status-txt">
                        {% if task.is_completed %}
                            <span>Done!</span>
                        {% else %}
                            <span>Pending...</span>
                        {% endif %}
                    </div>
                    <div class="task-item-container">
                    <div class="task-item-name">{{task}}</div>
                    <div class="task-item-desc">{{task.description}}</div>
                    </div>
                </a>
            {% empty %}
            <div class="table-task-row container-info">
                <h3>Looks like you don't have any task.</h3>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}