{% extends "global/global.html" %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
<div id="front-container">
    <div class="box-container">
        <div class="box">
            <a class="link-return" href="{% url "todoapp:login" %}">
                <i class="fa-solid fa-chevron-left"></i>
            </a>
            <div class="box-header">
                <h1>Register</h1>
            </div>
            <div class="box-body">
                <form class="form-control" action="{% url "todoapp:register" %}" method="POST">
                    {% csrf_token %}
                    {% include "todoapp/partials/form.html" %}
                    <div class="form-block">
                        <button class="btn-block btn-success">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
    set_password_revealers();
</script>
{% endblock script %}