{% extends "global/base_home.html" %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
<div class="main-content">
    <div class="content-container text-center">
        <h2>Register</h2>
    </div>
    <div class="content-container">
        <div class="form-container">
            <form action="" method="POST">
                {% csrf_token %}
                {% include "todoapp/partials/form.html" %}
                <button class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}