{% extends "global/base_home.html" %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
    <div class='main-content'>
        <div class="content-container">
            <h3>Create your task</h3>
        </div>
        <div class="content-container">
            <form action="{% url "todoapp:task_create" %}" method='POST'>
                {% csrf_token %}
                {% include "todoapp/partials/form.html" %}
                <input class="btn btn-primary" type="submit" value="Create">
            </form>
        </div>
    </div>
{% endblock content %}