{% extends "global/base_home.html" %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
    <div class="main-content">
        <div class="content-container text-center">
            <h2>Update Task - {{task.name}}</h2>
        </div>
        <div class="content-container">
            <div class="form-container">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% include "todoapp/partials/form.html" %}
                    <button class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Update</button>
                </form>
                <form id="form-delete-task" action="{% url "todoapp:task_delete" %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{task.id}}">
                    <button class="btn btn-red"><i class="btn-icon fa-solid fa-trash"></i> Delete</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    form = document.getElementById('form-delete-task');
    form.addEventListener('submit', function(ev) {
        ev.preventDefault();
        Swal.fire({
            icon: "question",
            title: "Do you really want to delete this task?",
            showDenyButton: true,
            confirmButtonText: "Yes",
            denyButtonText: "No"
        }).then(function(choice) {
            if (choice.isConfirmed) {
                form.submit()
            }
        })
    })
{% endblock script %}